Xft.dpi:96
URxvt.background: #000
URxvt.foreground: #eee
URxvt.font: xft:WenQuanYi Micro Hei Mono:size=9:antialias=true
!URxvt.font: xft:Meslo LG S for Powerline:size=9
URxvt.scrollBar: false

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
!Disable ctrl+shift to input unicode char
URxvt.iso14755:             false
Rxvt.savelines: 10000
